<svelte:head>
  <title>Alert Component</title>
</svelte:head>
<View class="flex flex-col gap-4 p-4 md:p-8">
<Row class="flex gap-4">
    <Alert class="flex-1" type='note' secondary={true}>
    Your text here for the alert
    </Alert>
    <Alert class="flex-1" type='note' secondary={false}>
    Your text here for the alert
    </Alert>
</Row>
<Row class="flex gap-4">
    <Alert class="flex-1" type='success' secondary={true}>
    Your text here for the alert
    </Alert>
    <Alert class="flex-1" type='success' secondary={false}>
    Your text here for the alert
    </Alert>
</Row>
<Row class="flex gap-4">
    <Alert class="flex-1" type='warning' secondary={true}>
    Your text here for the alert
    </Alert>
    <Alert class="flex-1" type='warning' secondary={false}>
    Your text here for the alert
    </Alert>
</Row>
<Row class="flex gap-4">
    <Alert class="flex-1" type='error' secondary={true}>
    Your text here for the alert
    </Alert>
    <Alert class="flex-1" type='error' secondary={false}>
    Your text here for the alert
    </Alert>
</Row>

</View>
